<div class="container" id="Container">
  <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
  <app-search></app-search>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">SL</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th class="EditOrUpdateBlock" scope="col">Reset Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.UserId }}</td>
        <td>{{ user.Name }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Contact }}</td>
        <td class="EditOrUpdateBlock">
          <a (click)="ResetPassword(user.UserId)"><i class="fa fa-refresh" aria-hidden="true"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <div class="page-link" tabindex="-1">Previous</div>
      </li>
      <li class="page-item">
        <div class="page-link" (click)="LoadData(1)">1</div>
      </li>
      <li class="page-item active">
        <div class="page-link" (click)="LoadData(2)">2</div>
      </li>
      <li class="page-item">
        <div class="page-link" (click)="LoadData(3)">3</div>
      </li>
      <li class="page-item">
        <div class="page-link">Next</div>
      </li>
    </ul>
  </nav>
</div>
