<section id="SearchModule">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="txtSearch" name="SearchString" class="form-control" placeholder="Search">
            <button id="Reset">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
            <button id="Search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-1">
            <button id="Create" (click)="route()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</section>

<!-- routerLink="/User/AddNewUser" -->