.sidenav-second-level {
  list-style: none;
  padding: 0;
}

.sidenav-second-level li {
  transition: var(--default-transition);
}

.sidenav-second-level li a:hover {
  border-left: 10px solid var(--secondary-color);
  background-color: var(--input-hue-color);
}
