<div class="bg-light border-right shadow-style-4" id="sidebar-wrapper">
  <div class="sidebar-heading">
      <img src="#" alt="Profile Picture" id="ProfilePicture">
  </div>
  <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">Configuration</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Role Setup</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">User Setup</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Session</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Authorization</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">report</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Log Out</a>
  </div>
</div>
