<div class="container" id="Container">
    <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>User Details</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Role Name</th>
          <td>{{role.rolename}}</td>
        </tr>
        <tr>
          <th>Purpose</th>
          <td>{{role.purpose}}</td>
        </tr>
        <tr>
          <th>Role Status</th>
          <td>{{role.recstatus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  