<div class="container" id="Container">
  <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>UserInfo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>UserName</th>
        <td>{{ _user.Name }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ _user.Email }}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{ _user.Cellno }}</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{ _user.Dob }}</td>
      </tr>
    </tbody>
  </table>
</div>
