<div class="container" id="Container">
    <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
    <app-search></app-search>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">SL</th>
          <th scope="col">Role Name</th>
          <th scope="col">Purpose</th>
          <th scope="col">Status</th>
          <th class="EditOrUpdateBlock" scope="col">Edit / Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of RoleInfo; let i = index">
          <td scope="row">{{ i+1 }}</td>
          <td>{{role.rolename}}</td>
          <td>{{role.purpose}}</td>
          <td>{{role.recstatus}}</td> 
          <td class="EditOrUpdateBlock">
            <a routerLink="/Role/UpdateRole/{{role.roleId}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i
            ></a>
            <a routerLink="/Role/RoleDetails/{{role.roleId}}"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item" (click)="LoadData(1)">
          <div class="page-link">1</div>
        </li>
        <li class="page-item active" (click)="LoadData(2)">
          <div class="page-link">2</div>
        </li>
        <li class="page-item" (click)="LoadData(3)">
          <div class="page-link">3</div>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  
