<div class="container">
  <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
  <form #updateUser='ngForm' (ngSubmit)="UpdateUserData()">
    <label for="ContactNumber" class="userId"
      >UserId : {{ UserInfo.UserId }}</label
    >
    <br />
    <label for="Name">User Name</label>
    <input
      type="hidden"
      class="form-control"
      id="UserId"
      name="UserId"
      required
      [(ngModel)]="UserInfo.UserId"
      value="{{ UserInfo.UserId }}"
    />
    <input
      type="text"
      class="form-control"
      id="Name"
      name="Name"
      required
      [(ngModel)]="UserInfo.Name"
      value="{{ UserInfo.Name }}"
    />
    <label for="ContactNumber">Contact Number</label>
    <input
      type="text"
      class="form-control"
      id="ContactNumber"
      name="ContactNumber"
      required
      [(ngModel)]="UserInfo.Cellno"
      value="{{ UserInfo.Cellno }}"
    />
    <label for="ContactNumber">Email</label>
    <input
      type="email"
      class="form-control"
      id="Email"
      name="Email"
      required
      [(ngModel)]="UserInfo.Email"
      value="{{ UserInfo.Email }}"
    />
    <label for="ContactNumber">Date of Birth</label>
    <input
      type="text"
      class="form-control"
      id="DOB"
      name="DOB"
      required
      [(ngModel)]="UserInfo.Dob"
      value="{{ UserInfo.Dob }}"
    />

    <button type="submit" class="btn btn-primary">
      Update User Data
    </button>
  </form>
</div>
