<div id="DashboardContent">
  <div class="container">
    <div class="row">
      <div class="info-box bg-dashboard-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
        <div class="info-box-content">
            <span class="info-box-text uppercase">Total Application</span>
            <span class="info-box-text">Authorized: <strong class="font-18px">6</strong></span>
            <span class="info-box-text">Pending: <strong class="font-18px">0</strong></span>
        </div>
      </div>
    </div>
  </div>
</div>
