
<div class="container">
    <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
    <form>
        <label for="OldPassword">Old Password</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" autocomplete="false">
        <label for="NewPassword">Old New Password</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" autocomplete="false">
        <label for="Confirmpassword">Confirm password</label>
        <input type="password" class="form-control" id="Confirmpassword" name="Confirmpassword" autocomplete="false">
        <button id="UpdatePassword">Update Password</button>
    </form>
</div>

