<div class="container">
  <app-secondary-nav [PageHeading]="PageName"></app-secondary-nav>
  <form>
    <label for="OldPassword">Old Password</label>
    <input
      matInput
      type="password"
      class="form-control"
      id="OldPassword"
      name="OldPassword"
      autocomplete="false"
      #OldPass
    />
    <label for="NewPassword">New Password</label>
    <input
      type="password"
      class="form-control"
      id="NewPassword"
      name="NewPassword"
      autocomplete="false"
      #NewPass
    />
    <label for="Confirmpassword">Confirm password</label>
    <input
      type="password"
      class="form-control"
      id="Confirmpassword"
      name="Confirmpassword"
      autocomplete="false"
      #ConfirmPass
    />
    <button
      type="button"
      id="UpdatePassword"
      (click)="ChangePassword(OldPass.value, NewPass.value, ConfirmPass.value)"
    >
      Update Password
    </button>
  </form>
</div>
