/* You can add global styles to this file, and also import other style files */
:root {
  --default-bg: white;
  --default-border-color: #a0a0a069;
  --default-black: rgb(59, 59, 59);
  --secondary-color: #6675df;
  --input-hue-color: #0000002c;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--input-hue-color);
}

:host {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-custom {
  background-color: var(--default-black);
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
}

.bg-custom a {
  color: var(--default-bg) !important;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.shadow-style-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-style-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-style-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-style-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-style-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

footer {
  text-align: center;
  color: var(--default-bg);
  background-color: var(--default-black);
  position: absolute;
  bottom: 0%;
  width: 100%;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.25);
}

footer a {
  color: var(--default-bg);
}

footer a:hover {
  color: var(--secondary-color);
}

a {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--default-black);
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
